header {
	background-color: white;
	color: #708090; 
	text-align: center;}


h1{
	margin:0 0 8px; padding:0 0 8px;
    font-size: 32px; 
	font-family: 'Belleza', sans-serif;}


p{

	font-size: 16px;
	font-family: 'Gudea', Sans-serif;
	margin: 2px; padding: 5px; }


h2{
	font-family: 'Belleza', sans-serif;
	color: #708090;}


h3{
	font-family: 'Belleza', sans-serif;
	color: #708090;}


h4{
	font-family: 'Belleza', sans-serif;
	color: #708090;}


h5{
	font-family: 'Belleza', sans-serif;
	color: #708090;}


 body{
 	font-family: 'Gudea', sans-serif;
 	color: black;
 	border: 6px solid black;
 	background: white;
 	margin: 50px auto; 
 	padding: 20px; 
 	max-width: 90%; 
 	font-size: 14px;
 }

 nav ul {
  font-size: 16px;
  font: 'Varela Round', sans-serif; }

nav ul li {
 	display: inline;
 	border: 2px solid black;
 	padding: 5px; 
 	margin: 10px;
 	background-color: white; 
}


footer {
	text-align: center;}


a:link {
	text-decoration: none; 
	color: black; }

a:visited {
	color: #FFC0CB; 
}

a:hover{
	color: #F08080;}
 
@media only screen and (max-device-width:320px){
	
	body{
		max-width: 90%;  
		font-size: 20px;
	}

footer{display: none;}

nav ul li{
	display: block;
	border: 2px solid #483D8B; 
	background-color: white; 

}



a:hover{ color:#F08080;}



