html {
	background-color: black;
	
	

}

h1{
	position: static; 
	color: white; 
	font-size: 50px;
	margin-top: 5%; 
	margin-bottom: 0;
	padding-top: 10px;  
	padding-bottom: 5px; 
	text-align: center;
	font-family: 'Special Elite', cursive;
	
}

nav ul{
 	
 	background-color: black; 
 	margin-top: 0; 
 	padding-bottom: 10px;
 	text-align: center; 
 	font-size: 14px;
 	font-family: 'Raleway', sans-serif;
    
}

 
nav ul li{
	display: inline;
	border-right: 2px solid white;
	padding-right: 2em; 
	margin: 10px;
	
	
}

nav ul li:last-child{
	border-right: none; 
}

a:link {
	text-decoration: none; 
	color: white; }

a:visited {
	color: #FFC0CB; 
}

a:hover{
	color: #F08080;}


h2{
	color: white; 
	font-family: 'Special Elite', cursive;
	margin-left: 10px; 
	padding-bottom: 5px; 
	border-bottom: 4px solid #F08080; 

}

h3{
	color: white; 
	font-family: 'Gudea', sans-serif;
	margin-left: 10px;
	margin-bottom: 20px;  

	
}

p{
	text-indent: 25px; 
	color: white; 
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Lato', sans-serif;
	font-size: 16px; 

}

p a:link{
	color:#FFC0CB;
}

section{
	padding-bottom: 20px; 
	border-bottom: 1px solid #F08080; 
}
